/* Home.css */
/* Resetting default margin and padding */
* {
  padding: 0;
  margin: 0;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("https://getwallpapers.com/wallpaper/full/1/4/e/1455851-widescreen-yellow-and-black-wallpaper-1920x1200.jpg");
    
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

.image {
  width: 270px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px 25px;
  border: none;
  box-shadow: rgba(239, 223, 77, 0.25) 0px 54px 55px,
    rgba(235, 207, 122, 0.12) 0px -12px 30px,
    rgba(219, 130, 130, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(198, 158, 14, 0.10) 0px -3px 5px;
    cursor: pointer;
}

.image-container {
  padding-top: 90px;
}

.text-container {
  height: 300px;
  width: 750px;
  text-align: center;
}

.name-title {
  color: #f1c40f;
  font-size: 50px;
}

p {
  font-size: medium;
  color: #f5f6fa;
}
.a {
  text-decoration: none;
  font-size: 25px;
}

.btn {
  margin: 40px auto;
  border: none;
  padding: 15px 55px;
  font-size: 20px;
  position: relative;
  background: transparent;
  border: 1px solid #ffc312;
}

.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: yellow;
  position: absolute;
  top: 0;
  left: 0;
}

.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}

.btn:hover::before {
  background: yellow;
  width: 100%;
}

.btn.rounded {
  border-radius: 50px;
}

.btn.rounded .text-green {
  color: #ffc312;
  mix-blend-mode: difference;
}

.btn.rounded::before {
  border-radius: 50px;
  width: 30%;
  background: #ffc312;
}

.btn.rounded:hover::before {
  background: #ffc312;
  width: 100%;
}

@media screen and (width <= 980px) {
  .background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("https://wallpapercave.com/dwp1x/wp2457276.jpg");
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
  }

  .text-container {
    height:auto;
    width: 400px;
    text-align: center;
    background-color: transparent;
  }

  .image-container {
    padding-top: 160px;
  }

  .name-title {
    color: #f1c40f;
    font-size: 26px;
    padding-top: 50px;
  }

  p {
    padding-top: 20px;
    font-size: 15px;
    color: #f5f6fa;
  }
  .a {
    text-decoration: none;
  }

  .btn {
    display: none;
    visibility: hidden;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
    font-size: 18px;
  }

  

}


img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
} 
.k 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');


.pp {
  text-shadow: 0 0 12px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  font-size: 25px;
}
.container1 {
  color: #fefefe;
  font-size:25px;
  text-transform: uppercase;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
}

.animation {
  height:70px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  border-radius: 7px;
  background-color:#c10528;
}
.second div {
  border-radius: 7px;
  background-color:#CD921E;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
 
  50% {margin-top: -5.62rem;}
  60% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}



